{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>F5Study</title>

    <link rel="stylesheet" href="{% static 'css/cadastro.css' %}">

    <link href="https://fonts.googleapis.com/css?family=PT+Sans|Ubuntu:400,500" rel="stylesheet">
</head>
<body>
    <header>
        <img src="{% static 'img/book.png' %}" alt="" class="icone-book">
        <h1>Bem vindo ao F5study</h1>
    </header>
    
    <main>
        <div class="form-container">
            <form action="." method="POST">
                {% csrf_token %}
                <h2>Cadastre-se</h2>
                
                {{ cadastro.as_p }}

                <button class="botao-sign">Cadastre-se</button>

                <p>Ou</p>

                <hr>
    
                <button class="botao facebeook">Conecte-se com Facebook</button>
                <button class="botao google">Conecte-se com Google</button>

                <div class="termos-uso">
                    <input type="checkbox" class="termos">
                    <p class="texto-termos">Eu aceito os <a href="#">Termos de Uso</a> e <a href="#">Privacidade</a></p>   
                </div>
            </form>
        </div>
    </main>
</body>
</html>