@font-face{
    font-family: 'robotoRegular';
    src: url('../fonts/Roboto-Regular.ttf');
}
@font-face{
    font-family: 'robotoBold';
    src: url('../fonts/Roboto-Bold.ttf');
}
@font-face{
    font-family: 'robotoMedium';
    src: url('../fonts/Roboto-Medium.ttf');
}
@font-face{
    font-family: 'robotoMediumItalic';
    src: url('../fonts/Roboto-MediumItalic.ttf');
}
*{
    margin: 0;
    padding: 0;
}
html{
    box-sizing: border-box;
}
*, *:before, *:after{
    box-sizing: inherit;
}
.container{
    width: 90%;
    margin: 0 auto;
}
body{
    padding: 0;
    margin: 0;
    font-family: 'robotoRegular', sans-serif, arial;
    overflow-x: hidden;
}


/* HEADER =========================== */
header{
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}
header div{ 
    align-items: center;
    background: #563d7c;
    display: flex;
    justify-content: space-between;
    padding: 22px;
    width: 100%;
}
header div h1 a{
    color: #fff;
    font-family: sans-serif;
    text-decoration: none;
}
header #button-menu{
    color: #fff;
    cursor: pointer;
    font-size: 30px;
}


/* NAV-HEADER =========================== */
.nav-header{
    background-color: rgba(0,0,0,.0);
    height: 100vh;
    transition: background .1s;
    top: 100%;
    position: absolute;
    width: 0%;
}
.nav-header ul{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    height: 100%;
    position: absolute;
    left: -320px;
    list-style: none;
    transition: .4s;
    top: 0%; /* para o sub-menu sobrepor o menu principal */
    width: 320px;
}
.nav-header ul .menu-left{
    order: 2;
    -webkit-order: 2;
    -moz-order: 2;
}
.nav-header ul .menu-right{
   order: 1;
   -webkit-order: 1;
   -moz-order: 1;
}
/* user-photo */
.nav-header .user-photo{
    background: #fff;
    color: #fff;
    display: flex;
    justify-content: center;
    padding: 6px;
}
.nav-header .name-user-color{
    color: #e62b4a;
}
.nav-header .user-photo span{
    background: url(../img/icon-perfil.jpg);
    background-size: contain;
    border: #563d7c 2px solid;
    border-radius: 50%;
    color: transparent;
    height: 90px;
    width: 90px;
}
.nav-header ul li.title-menu{
    background: #563d7c;
    color: #fff;
    font-size: 20px;
    text-align: center;
    padding: 10px;
}
.nav-header ul li a{
    border-bottom: 1px solid #563d7c;
    color: #563d7c;
    display: block;
    font-size: 17px;
    font-weight: 200;
    height: 100%;
    padding: 15px 10px;
    text-decoration: none;
    transition: .3s;
    width: 100%;
}
.nav-header ul li a:hover{
    background: #563d7c;
    color: #fff;
}
.nav-header ul li span.icon-menu{
    margin-right: 12px;
}
.nav-header li.item-submenu > a::after{
    content: '>';
    color: #959595;
    float: right;
    font-size: 20px;
    font-weight: 700;
}


/* SUBMENU 1 =========================== */
.nav-header .sub-menu{
    left: -320px;
}
.nav-header .sub-menu .title-menu{
    background: #fff;
    color: #563d7c;
}
.nav-header .sub-menu .go-back{
    background: #573c80;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    padding: 10px 20px;
}
.nav-header .sub-menu .go-back::before{
    content: '<';
    color: #959595;
    font-size: 20px;
    font-weight: 700;
    margin-right: 10px;
}
.nav-header li.item-submenu2 > a::after{
    content: '>';
    color: #959595;
    float: right;
    font-size: 20px;
    font-weight: 700;
}
/* SUBMENU 2 =========================== */
.nav-header .sub-menu2{
    /* display: none; */
}
.nav-header .sub-menu2 .title-menu{
    background: #fff;
    color: #563d7c;
}
.nav-header .sub-menu2 .go-back{
    background: #573c80;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    padding: 10px 20px;
}
.nav-header .sub-menu2 .go-back::before{
    content: '<';
    color: #959595;
    font-size: 20px;
    font-weight: 700;
    margin-right: 10px;
}
/* submenu-user */
.menu-right .submenu-user{
    text-align: left;
}
.menu-right .msg-user{
    display: block;
    font-size: 17px;
    text-align: center;
    margin: 10px 0 12px;
}
/* 


/* MAIN =========================== */
/* main{
    
}
main .titulo-categorias{
    background: #000;
    padding: 0 80%;
}
main h2{
    background: #fff;
    color: #563d7c;
    font-size: 25px;
    letter-spacing: .5px;
    padding: 20px 5px;
    text-align: center;
    text-transform: uppercase;
}

/* CATEGORIAS =========================== */
/* .categorias{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
}
.box-categorias{
    display: flex;
    flex-direction: column;
}
.box-categorias img{
    display: block;
    width: 100%;
    height: auto; 
    margin-top: 10px;
} */


/* COMO FUNCIONA =========================== */
/* .como-funciona{
    align-items: center;
    background-image: linear-gradient(to right, #795da4 , #5B3197);
    display: flex;
    flex-direction: column;
    justify-content: center;
    letter-spacing: .5px;    
    line-height: 1.5em;    
    margin-top: 40px;
    text-align: center;
}
.como-funciona h2{
    color: yellow;
    font-size: 25px;
    letter-spacing: .5px;
    text-align: center;
    text-transform: uppercase;
    padding: 25px 15px;
}
.como-funciona p{
    color: #fff;
    margin: 10px 20px;

}
.box-como-funciona{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
}
.box-como-funciona div{
    border: #fff 3px solid;
    border-radius: 50%;
    margin: 20px;
    padding: 20px;
}
.box-como-funciona div img{
    height: 40px;
}
.box-como-funciona h3{
    color: #fff;
} */


/* DEPOIMENTOS =========================== */
/* .depoimentos h2{
    color: #563d7c;
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
    padding: 25px 15px;
}
.depoimentos p{
    font-size: 20px;
    margin-bottom: 10px;
} */

/* NEWSLATTER =========================== */
/* .newslatter{
    background: url('../img/banner-newsletter.jpg')no-repeat;
    background-size: cover; 
    height: 200px;
    margin-top: 30px;
    width: 100%;
}
.newslatter .container{
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 50px 0 0 0;
}
.newslatter h2{
    color: #fff;
    text-shadow: 2px 1px #000;
    font-size: 28px;
    margin-bottom: 10px;
}
.newslatter form{
    height: 50px;
    width: 90%;
}
.newslatter form input{    
    font-size: 15px;
    height: 100%;
    width: 80%;
    margin: 0;
}
.newslatter form input[type="text"]{
    font-size: 15px;
    padding: 10px;
}
.newslatter form button{
    height: 100%;
    width: 18%;
} */


/* FOOTER =========================== */
footer div{
    background: #000;
    color: #fff;
    text-align: left;
    line-height: 30px;
    padding: 3em 0;
}
footer div h3{
    text-align: left;
    margin-bottom: 30px;
}
/* footer-about */
 .footer-about{
    margin-bottom: 40px;
    padding: 0 10px;
}
.footer-about p{
    margin-bottom: 30px;
}
.footer-about ul{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
    width: auto;
}
.footer-about ul li{
    list-style: none;
}
.footer-about ul li a{
    color: rgba(255,255,255,.6);
    font-size: 25px;
    padding: 15px;
}
.footer-about ul li:first-child> a{
    padding-left: 0px;
}
 .footer-about ul  li i:hover{
    color: #fff;
    transition: .5s;
}
/* footer-links */
.footer-links{
    margin-bottom: 40px;
    padding: 0 10px;
}
.footer-links ul{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 0;
    width: 0px;
}
.footer-links ul li{
    margin-bottom: 10px;
    list-style: none;
    padding-bottom:  10px;
}
.footer-links ul li a{
    color: rgba(255,255,255,.6);
    font-size: 15px;
    padding-left: 0;
    text-decoration: none;
}
.footer-links ul li:first-child{
    padding-left: 0;
}
.footer-links ul li a:hover{
    color: #fff;
    transition: .5s;
}
/* footer-contato */
.footer-contato{
    margin-bottom: 30px;
    padding: 0 10px;
}
.footer-contato ul{
    display: flex;
    flex-direction: column;
}
.footer-contato ul li{
    list-style: none;
    margin-bottom: 10px;
}
.footer-contato ul li i{
    color: rgba(255,255,255,.6);
    width: 30px;
}
/* copyright */
.footer-copyright{
    background: #1a1919;
    padding: 3em 10px;
}
.footer-copyright div{
    background: #1a1919;
    padding: 0
}
.footer-copyright div:last-child{
    margin-top: 20px;
}
.footer-copyright div:last-child p a{
    color: #fff;
    text-decoration: none;
}


/************ Media SMALL DEVICES ************/
@media(min-width: 768px){
    .categorias{
        width: 85%;
    }
    /* Categorias */
    .box-categorias{
        flex-direction: row;
        justify-content: space-between
    }
    .box-categorias img{
        padding: 5px;
        width: 99%;
        height: 100%;
    }
}

/************ Media MEDIUM DEVICES ************/
@media(min-width: 992px){
    footer{
        display: flex;
        flex-direction: column;
    }
    footer div{
        display: flex;
        padding: 2em 10%;
    }
    .footer-about{
        flex-direction: column;
        width: 40%;
    }
    .footer-links{
        flex-direction: column;
        width: 25%;
    }
    .footer-contato{
        flex-direction: column;
    }
    .footer-copyright{
        flex-direction: column;
        padding: 2em 10%;
    }
    .footer-copyright div p{
        text-align: center;
        width: 100%;;
    }
    .footer-copyright div:last-child p{
        text-align: right;
        width: 100%;
        padding-right: 10%;
    }
}

/************ Media LARGE DEVICES ************/
@media(min-width: 1200px){
    /* Removendo configurações padrões a partir do tamanho "Medium Devices" */ 
    header > div{
        display: none; 
    }

    header{
        width: 100%;
    }
    .banner-index{
        background-attachment: fixed;
        background-size: cover;
        height: 100vh;
    }
    .nav-header{
        align-items: center;
        background: #563d7c;
        display: flex;
        height: 80px;
        justify-content: center;
        padding: 0 10%;
        width: 100%;
    }
    .nav-header .menu{
        background: transparent;
        justify-content: space-between;
        height:  70%;
        flex-direction: row;
        left: 0;
        position: relative;
        width: 100%;
    }
    .nav-header ul .menu-left{
        order: 1;
    }
    .nav-header ul .menu-right{
       order: 2;
       width: 100px;
    }
    .nav-header ul li a{
        border-bottom: none;
        color: #fff;
        font-size: 15px;
    }
    .menu-left{
        display: flex;
    }
    
    .nav-header .title-menu{
        display: none;
    } 
    .nav-header .menu .sub-menu{
        display: none;
        position: static;
        width: 100%;
        background: #563d7c;
        padding-top:10px;
    } 
    .nav-header .menu .sub-menu > li{
        background: #563d7c;
    }
    .nav-header .item-submenu{
        width: 170px;
    }
    .nav-header li.item-submenu > a::after{
        content: '▼';
        color: #959595;
        float: right;
        font-size: 15px;
        font-weight: 700;
        padding-right: 20px;
    }
    /* hover */
    .nav-header .item-submenu:hover .sub-menu{
        display: flex;
    }
    .nav-header .menu .sub-menu .go-back{
        display: none;
        top: 0;
    }
    .nav-header .menu .sub-menu .item-submenu2{
        background: #563d7c;
        position: relative;
    }
    .nav-header .sub-menu2{
        background: #563d7c;
        /* display: flex; */
        display: none;
        flex-direction: column;
        position: absolute;
        left: 100%;
        top:  0%;
    }
    .nav-header .sub-menu2 > li{
        background: #563d7c;
        height: 100%;
    }
    .sub-menu > li:hover .item-submenu2{
        display: flex;
    }
    /* aparerecer submeu 2 */
    .sub-menu > .item-submenu2:hover .sub-menu2{
        display: flex;
    }
  
 /* efeito hover */
 .nav-header .menu-left  li a:hover, .nav-header .menu-right li:first-child a:hover{
    color: #e62b4a;
}

     /* menu-right */
    .menu-right{
        /* background: red;  */
        display: flex;
        flex-direction: column;
        text-align: center;
        color: #e62b4a;
    }
    .nav-header .user-photo{
        background: transparent;
        color: #fff;
        cursor: pointer;
        display: flex;
        justify-content: center;
        padding-bottom: 63px;
    }
    .nav-header .user-photo span{
        background-size: contain;
        border: #fff 2px solid;
        border-radius: 50%;
        color: transparent;
        height: 40px;
        width: 40px;
    }
    .nav-header .submenu-user li{
        background: #563d7c;
        padding-top: 5px;
    }
    .nav-header .submenu-user li a:hover{
        color: #e62b4a;
    }

    .menu-right .msg-user{
        display: none;
    }
    
    /* aparecer o submenu-user */
    .nav-header .menu-right .submenu-user{
        display: none;
        margin: 0;
        position: absolute;
        top: 100%;
    }
    .nav-header .menu-right .submenu-user.ativo{
        display: block;
    }
    /* .nav-header .menu-right .user-photo:hover+:nth-child(2){
        display: block;
    } */










    /* main */
    main{
        padding: 0 10%;
    }
    .categorias{
        width: 100%;
        flex-direction: row;
    }
    /* Categorias */
    .box-categorias{
        flex-direction: row;
    }
    .box-categorias img{
        width: 100%;
        height: 100%;
    }

    /* COMO FUNCIONA ================= */
    .como-funciona{
        /* flex-direction: row; */
    }
}
