{% extends 'layout-logado.html' %}
{% load staticfiles %}

{% block content %}

 <!-- banner -->
 <div class="banner-desenvolvimento-web">
    <h1>Desenvolvimento Web</h1>
</div>

<section>
    <h1 class="heading">Instrutores - Desenvolvimento Web</h1>
    <div class="card-wrapper">
        <div class="card">
            <img src="{% static 'img/card-bg.png' %}" alt="fundo do card" class="card-img">
            <img src="{% static 'img/card-foto1.jpg' %}" alt="imagem perfil" class="profile-img">
            <h1>Afonso Santos</h1>
            <p class="job-title">Web Developer</p>
            <p class="about">
                    Olá, meu nome é Afonso Santos, sou Tecnólogo em Informática para Gestão de Negócios pela Fatec.
                    Trabalho há mais de nove anos como programador Web e Mobile e sou um entusiasta apaixonado pela área. 
            </p>
            <a href="#" class="btn">+ Informações

            </a>
            <ul class="social-media">
                <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            </ul>
        </div>
        
        <div class="card">
            <img src="{% static 'img/card-bg.png' %}" alt="fundo do card" class="card-img">
            <img src="{% static 'img/card-foto2.jpg' %}" alt="imagem perfil" class="profile-img">
            <h1>Camila Albuquerque</h1>
            <p class="job-title">Web Developer</p>
            <p class="about">
                    Formada em comunicação visual mas atuo com desenvolvedora front-end. Também sou instrutora de  desenvolvimento front-end, principalmente Javascript, HTML e CSS.
            </p>
            <a href="#" class="btn">+ Informações

            </a>
            <ul class="social-media">
                <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            </ul>
        </div>

        <div class="card">
            <img src="{% static 'img/card-bg.png' %}" alt="fundo do card" class="card-img">
            <img src="{% static 'img/card-foto3.jpg' %}" alt="imagem perfil" class="profile-img">
            <h1>Maria Lins</h1>
            <p class="job-title">Desenvolvedora Fullstack</p>
            <p class="about">Sou formada em Análise de Sistemas  Considero o WordPress a plataforma perfeita para quem deseja construir qualquer tipo de site e aprender um pouco mais a fundo tecnologias web como PHP, CSS e HTML.
            </p>
            <a href="#" class="btn">+ Informações</a>
            <ul class="social-media">
                <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            </ul>
        </div>

        <div class="card">
            <img src="{% static 'img/card-bg.png' %}" alt="fundo do card" class="card-img">
            <img src="{% static 'img/card-foto4.jpg' %}" alt="imagem perfil" class="profile-img">
            <h1>Larissa Isabelle</h1>
            <p class="job-title">Desenvolvedora Fullstack</p>
            <p class="about">
               Professora de Informática, programador web e produtora de vídeo aulas para o WebDenv no youtube. Formado em Analise e Desenvolvimento de Sistema.
            </p>
            <a href="#" class="btn">+ Informações</a>
            <ul class="social-media">
                <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            </ul>
        </div>
        
        <div class="card">
            <img src="{% static 'img/card-bg.png' %}" alt="fundo do card" class="card-img">
            <img src="{% static 'img/card-foto5.jpg' %}" alt="imagem perfil" class="profile-img">
            <h1>Camila Silva</h1>
            <p class="job-title">Desenvolvedora Front-end</p>
            <p class="about">
                Atualmente ministro palestras, cursos presenciais e a distância, com foco sempre na programação web moderna. Tem como principal objetivo o crescimento profissional.
            </p>
            <a href="#" class="btn">+ Informações</a>
            <ul class="social-media">
                <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            </ul>
        </div>

        <div class="card">
            <img src="{% static 'img/card-bg.png' %}" alt="fundo do card" class="card-img">
            <img src="{% static 'img/card-foto7.jpg' %}" alt="imagem perfil" class="profile-img">
            <h1>Josh Victor</h1>
            <p class="job-title">Desenvolvedor Fullstack</p>
            <p class="about">
                Atuo como Instrutor de TI, Administrador de Banco de Dados SQL Server e MySQL, Web Developer focado em HTML5, CSS3,  JavaScript(ES6) e PHP. 
            </p>
            <a href="#" class="btn">+ Informações</a>
            <ul class="social-media">
                <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            </ul>
        </div>

        <div class="card">
            <img src="{% static 'img/card-bg.png' %}" alt="fundo do card" class="card-img">
            <img src="{% static 'img/card-foto6.jpg' %}" alt="imagem perfil" class="profile-img">
            <h1>Mario Fernandes</h1>
            <p class="job-title">Desenvolvedor Fullstack</p>
            <p class="about">
               Formado na faculdade de Desenvolvimento de Sistemas, atuando na área à 8 anos em diferentes empresas desenvolvendo desde sites a sistemas de gerenciamento corporativo.
            </p>
            <a href="#" class="btn">+ Informações</a>
            <ul class="social-media">
                <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            </ul>
        </div>

        <div class="card">
            <img src="{% static 'img/card-bg.png' %}" alt="fundo do card" class="card-img">
            <img src="{% static 'img/card-foto8.jpg' %}" alt="imagem perfil" class="profile-img">
            <h1>Bruno Mars</h1>
            <p class="job-title">Desenvolvedor Fullstack</p>
            <p class="about">
                Atuo como desenvolvedor web sênior a mais de 10 anos. Minhas especialidades são PHP, Javascript, HTML 5 / CSS 3 e Objective C. Já fiz mais de 150 sites e sistemas pelo mundo inteiro.
            </p>
            <a href="#" class="btn">+ Informações</a>
            <ul class="social-media">
                <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            </ul>
        </div>
    </div>
</section>

{% endblock %}