{% load staticfiles %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>F5Study</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/login.css' %}">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=PT+Sans|Ubuntu:400,500" rel="stylesheet">
</head>
<body>
    <h1>F5Study</h1>
    <main>
        <div class="container-campo-cadastro">
            <h2>Login</h2>

            <form>
                <label for="">E-mail:</label>
                <input type="email" name="" id="" placeholder="F5study@email.com">
                
                <label for="">Senha:</label>
                <input type="password" name="" id="" placeholder="********">

                <button class="botao"><a href="{% url 'home' %}">Login</a></button>
            </form>

            <h2>Não tem uma conta?</h2>
            <p class="texto-apresentacao">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, architecto corporis.</p>
    
            <a href="{% url 'cadastro' %}"><button class="botao"> Cadastre-se</button></a>
        </div>
    </main>  
</body>
</html>